language: node_js
node_js:
  - "8"
  - "10"
before_install:
  - npm install -g greenkeeper-lockfile@1
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 5
  - greenkeeper-lockfile-update
after_script:
  - greenkeeper-lockfile-upload
script:
  - npm run lint
  - npm run test-travis
