body {
  font-family: Consolas, Lucida Console, Courier New, monospace;
}

.rankingTable {
  --border-value: 1px solid #aaa;

  border: var(--border-value);
  border-collapse: collapse;
  width: 100%;
}
  .rankingTable > * > tr > * {
    border-left: var(--border-value);
  }
  .rankingTable > thead > tr {
    background-color: #f3f3f3;
    border: var(--border-value);
  }
  .rankingTable > thead > tr > th {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
  }
  .rankingTable > tbody > tr:nth-child(even) {
    background-color: hsl(214, 70%, 97%);
  }

.rankingTableItem {
}
  .rankingTableItem-zIndex,
  .rankingTableItem-element {
    padding: 0.2em 0.4em;
  }
  .rankingTableItem-zIndex {
    width: 60px;
  }
  .rankingTableItem-selector:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .rankingTableItem-tagName {
    color: rgb(136, 18, 128);
  }
  .rankingTableItem-id {
    color: rgb(26, 26, 166);
  }
  .rankingTableItem-classes {
    color: rgb(153, 69, 0);
  }
  tbody .rankingTableItem-zIndex {
    font-family: monospace;
    text-align: right;
  }
  tbody .rankingTableItem-element {
    font-style: italic;
  }
